.error-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 15px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  color: #ff0000;
}

.rc-collapse {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #fefefe;
}
.rc-collapse-anim-active {
  transition: height 0.2s ease-out;
}
.rc-collapse > .rc-collapse-item {
  border-top: 1px solid #fefefe;
}
.rc-collapse > .rc-collapse-item:first-child {
  border-top: none;
}
.rc-collapse > .rc-collapse-item > .rc-collapse-header {
  height: 56px;
  line-height: 56px;
  text-indent: 16px;
  cursor: pointer;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
.rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow {
  display: inline-block;
  content: "ciao\20";
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 4px solid #666;
  vertical-align: middle;
  margin-right: 8px;
}
.rc-collapse > .rc-collapse-item-disabled > .rc-collapse-header {
  cursor: not-allowed;
  background-color: #fff;
}
.rc-collapse-content {
  overflow: hidden;
  padding: 0 16px;
  background-color: #fff;
}
.rc-collapse-content > .rc-collapse-content-box {
  margin-top: 16px;
  margin-bottom: 16px;
}
.rc-collapse-content-inactive {
  display: none;
}
.rc-collapse-item:last-child > .rc-collapse-content {
  border-radius: 0 0 3px 3px;
}
.rc-collapse > .rc-collapse-item-active > .rc-collapse-header .arrow {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #fefefe;
  margin-right: 6px;
}

.rc-collapse-item > .rc-collapse-header {
  font-family: "Titillium Web";
  font-size: 18px;
  color: #0073e6;
  background: #fff;
}

.rc-collapse > .rc-collapse-item-active > .rc-collapse-header {
  color: #fff;
  border-bottom: none;
  background: #0066cc;
}

.rc-collapse > .rc-collapse-item-active > .rc-collapse-header-error {
  color: #fff;
  border-bottom: none;
  background: #F83E5A;
}
/*
.rc-collapse
  > .rc-collapse-item
  .rc-collapse-item-active
  .error
  > .rc-collapse-header {
  color: #fff;
  background: red;
  border: 1px solid red;
}

.rc-collapse-item .rc-collapse-header .error {
  color: #ff0000;
}

*/
