.block__wrapper {
  margin: 10px 0;
}

.block {
  padding: 0 0 1em 0;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.block_heading_oval {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #0066cc;
  color: #ffffff;
  font-family: "Roboto Mono";
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block_heading_title {
  padding-left: 10px;
  color: #000000;
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

.block_heading {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.block__item {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.block__object {
  border-bottom: 1px solid gray;
  flex: 1 0 100%;
}

.block__item--full {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: $mq-size) {
  .block {
    flex-flow: column;
    flex-wrap: nowrap;
  }
  .block__item {
    flex-basis: 100%;
  }
}
