.rectangle-5-copy-34 {
  height: 48px;
  width: 186px;
  background-color: #0073e6;
}

// button styles
.editor_button {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;
  height: 56px;
  width: 242px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  background-color: #0073e6;
  border: 0 none;
  border-radius: 4px;

  font-family: "Titillium Web";
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  justify-content: center;
  align-items: center;
  flex: 0 0 240px;

  box-shadow: 2px 5px 10px var(--color-smoke);

  &:hover {
    transition: all 150ms linear;
    background-color: #0059b3;
    opacity: 0.85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: 0.75;
  }

  &:focus {
    outline: 0;
    outline-offset: -4px;
  }
  &:disabled {
    opacity: 0.5;
    background-color: #0059b3;
  }
}

.editor_button--primary {
  color: #ffffff;
  background-color: #0073e6;

  &:hover {
    color: #ffffff;
    background-color: #0059b3;
    opacity: 1;
  }

  &:active {
    color: #ffffff;
    background-color: #0059b3;
    opacity: 1;
  }
}

.editor_button--secondary {
  border: 2px solid #0073e6;
  background-color: #ffff;
  color: #0073e6;

  &:hover {
    color: #0059b3;
    background-color: #ffff;
    opacity: 1;
  }

  &:active {
    color: #0059b3;
    background-color: #ffff;
    opacity: 1;
  }
}

.editor_button--quaternary {
  height: 56px;
  width: 242px;

  border: 2px solid #e6e9f2;
  background-color: #fcfdff;
  color: #5c6f82;

  &:hover {
    color: #38444f;
    background-color: #fcfdff;
    opacity: 1;
  }

  &:active {
    color: #38444f;
    background-color: #fcfdff;
    opacity: 1;
  }
}

.editor_button--custom {
  height: 56px;
  width: 242px;
  border: 0;
  background-color: #fff;
  color: #5c6f82;

  &:hover {
    color: #38444f;
    background-color: #fcfdff;
    opacity: 1;
  }
}
