.info__box {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  position: absolute;

  display: none;

  &.info__box__visible {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.info__box__body {
  position: relative;
  width: 500px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  border: 3px solid rgba(0, 102, 204, 1);
}

.info__box__content {
  padding: 40px;
  font-size: 18px;

  color: #5a768a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__box__close {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;

  font-size: 14px;
  margin: 10px;
}
