.notify-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: fixed;
  top: 35px;
  right: 30%;
  z-index: 9000;
}

.notify-item {
  width: 250px;
  margin: 5px 10px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.notify-item:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}

.notify-item > p {
  margin: 10px;
  opacity: 0.8;
  text-align: center;
}

.notify-item.info {
  background-color: rgba(0, 102, 204, 1);
}

.notify-item.success {
  background-color: rgba(23, 23, 23, 0.9);
}

.notify-item.error {
  background-color: rgb(232, 8, 0.9);
  color: #fff;
}

.notify-title {
  font-weight: 700;
}
