$foot-bar-h: 100px;
$mq-size: 640px;

@import "./system_font.scss";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,700");
* {
  font-family: "Titillium Web", "Roboto Mono", "system", sans-serif;
}

@import "./info_box.scss";
@import "./editor_widget.scss";
@import "./editor_buttons.scss";

// @import "./bsi.scss";
@import "./bs_override.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "./glyphicons/glyphicons.css";

@import "./transitions.scss";
@import "./snackbar.scss";
@import "./notify.scss";


@import "./wrapper.scss";
@import "./content.scss";
@import "./sidebar.scss";
@import "./block.scss";
@import "./accordion.scss";

@import "./language_switcher.scss";

