name: publish

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.7"
          enable-cache: true

      - run: uv run sphinx-build docs/standard build -c .
      - run: echo yml.publiccode.tools > build/CNAME

      - name: Publish on GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
